<!-- <!DOCTYPE html>
<html>
<head>
	<title>campgrounds</title>
</head>
<body> -->

	<% layout('layouts/boilerplate') %>

	<h1>All campgrounds</h1>

	<div>
		<a href="campgrounds/new">Add new campground</a>
	</div>
	<ul>
		<%for (let camp of campgrounds) { %>
			<!-- <li><a href="/campgrounds/<%=camp._id %>"><%=camp.name %></a></li> -->
			<div class="card" mb-3>
				<div class="row">
					<div class="col-md-4">
						<img class="img-fluid" src="<%=camp.images[0].url%>">
					</div>
					<div class="col-mg-8">
						<div class="card-body">
							<h5 class="card-title"><%=camp.name%></h5>
							<p class="card-text"><%=camp.description%></p>
							<p class="card-text">
								<small class="text-muted"><%=camp.location%></small>
							</p>
							<a class="btn btn-primary" href="/campgrounds/<%=camp._id%>">View <%=camp.name%></a>
						</div>
					</div>
				</div>
			</div>

		<% } %>

	</ul>


<!-- 
</body>
</html> -->