

	<% layout('layouts/boilerplate') %>

	<div id="map" style="width:90%; height: 500px;"></div>

	
	<h1 style="margin-top: 1em; margin-bottom: 0.5em;">All campgrounds</h1>


	<div>
		<a href="campgrounds/new">Add new campground</a>
	</div>
	<ul>
		<%for (let camp of campgrounds) { %>
			<!-- <li><a href="/campgrounds/<%=camp._id %>"><%=camp.name %></a></li> -->
			<div class="card mb-3" >
				<div class="row">
					<div class="col-md-4">
						<% if(camp.images.length>0) { %>
						<img class="img-fluid" src="<%=camp.images[0].url%>" alt="">
						<% } else { %>
							<img class="img-fluid" src="https://res.cloudinary.com/p0b0yelp/image/upload/v1608198090/Yelpcamp/gihfcvgqn8xnz5pp78y9.jpg" alt="">
							<% } %>
					</div>
					<div class="col-mg-8">
						<div class="card-body">
							<h5 class="card-title"><%=camp.name%></h5>
							<p class="card-text"><%=camp.description%></p>
							<p class="card-text">
								<small class="text-muted"><%=camp.location%></small>
							</p>
							<a class="btn btn-primary" href="/campgrounds/<%=camp._id%>">View <%=camp.name%></a>
						</div>
					</div>
				</div>
			</div>

		<% } %>

	</ul>

	<script> const campgrounds = {features: <%- JSON.stringify(campgrounds) %> }</script>

	<script src="/javascripts/clusterMap.js"></script>

